<a href="https://colab.research.google.com/github/AhadRahman005/Assignment-1/blob/main/Assignment_1_20229005.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

A.F.S. Ahad Rahman Khan
ID: 20229005

***Question 1: Write a Python program to count the number of characters (character frequency) ***

In [ ]:
string = input ('Count character frequency of this string :')
frequency = {}
for character in string:
  if character in frequency:
   frequency[character]+=1
  else:
    frequency[character]=1
print(frequency)

Count character frequency of this string :google.com
{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

**Question 2: Write a Python program to check if a given key already  exists in a dictionary.**

In [ ]:
win = {'Bangladesh': 2, 'India': 5, 'Pakistan' : 1 } 
key = input('Enter name of a country:')
if key in win:                                 #checking if the given key is in the dictionary
  print('matches won by', key, 'is known')   
else:
  print ('matches won by', key, 'is unknown')

Enter name of a country:Australia
matches won by Australia is unknown

**Question 3:  Write a Python program that accepts a sequence of comma-separated numbers from the user and generates a list and a tuple of those numbers.**

In [ ]:
user_entry = input("Write some comma seperated numbers : ")
list = user_entry.split(",")    #Input string is split by "," and automatically creating a list.
tuple = tuple(list)             # The list is now converted using tuple() function to tuple.

print("Generated list from the entries: ", list)
print("Generated tuple from the entries: ", tuple)

Write some comma seperated numbers : 55,62,87,91,132
Generated list from the entries:  ['55', '62', '87', '91', '132']
Generated tuple from the entries:  ('55', '62', '87', '91', '132')

**Question 4: Write a Python program to calculate the number of days between two dates**

In [ ]:
from datetime import date

date_entry1 = input("Input your 1st date as Year-Month-Day: ")
year1_splitted, month1_splitted, day1_splitted = date_entry1.split("-")
year1 = int(year1_splitted)
month1 = int(month1_splitted)
day1 = int(day1_splitted)
      #we can also use map()function to comprehend the code.
      #the code will be: year1, month1, day1 = map(int,date_entry1.split("-") )
      #this will split the date_entry1 by "-", convert them into integer and map them into year1, month1 and day1. 
date1 = date(year1,month1,day1)
      

date_entry2 = input("Input your 2nd date as Year-Month-Day: ")
year2_splitted, month2_splitted, day2_splitted = date_entry2.split("-")
year2 = int(year2_splitted)
month2 = int(month2_splitted)
day2 = int(day2_splitted)
date2 = date(year2,month2,day2)

difference = date1 - date2
number_of_days = abs(difference.days)

print("Number of days between", date1, "and", date2, "are", number_of_days, "days")

Input your 1st date as Year-Month-Day: 2014-7-2
Input your 2nd date as Year-Month-Day: 2014-7-11
Number of days between 2014-07-02 and 2014-07-11 are 9 days

 **Question 5: Write a Python program to solve (x + y) * (x + y)**

In [ ]:
x = int(input("x = "))
y = int(input("y = "))

output = (x+y) * (x+y)

print(" ( ",x, '+' ,y, " ) ^ 2 = ", output)

x = 4
y = 3
 (  4 + 3  ) ^ 2 =  49

**Question 6: Write a Python program to compute the future value of a specified principal amount, rate of interest, and number of years.**

In [ ]:
amt = 10000           #If we write like amt = 10000, interest = 3.5, ....it will create a tuple due to use of "," after the variable assignment.
interest = 3.5 
years = 7

future_amount = amt*(1+(interest/100))**years

print(future_amount)

12722.792627665729

**Question 7: Write a Python program that removes duplicate elements from a given array of numbers so that each element appears only once and returns the new length.**

In [ ]:
sample_input = [0, 0,1,1,2,2,3,3,4,4,4]
list_of_samples = list(set(sample_input))
length = len(list_of_samples)

print("The list of unique numbers: ",list_of_samples )
print("Length of the unique list: ",length )

The list of unique numbers:  [0, 1, 2, 3, 4]
Length of the unique list:  5

**Question 8: Write a Python program to sort (ascending and descending) a dictionary by key value.**

In [ ]:
# Create an empty dictionary
my_pets = {}

# Prompt the user for input and store it in key-value pairs
for i in range(4):
    key = input("Enter a key: ")
    value = input("Enter a value: ")
    my_dict[key] = value

# Print the resulting dictionary
print("Dictionary of my pets = ", my_dict)

asc_dict = dict(sorted(my_dict.items()))
dis_dict = dict(sorted(my_dict.items(), reverse = True))

print("Dictionary of my pets sorted by ascending alphabetic order = ", asc_dict)
print("Dictionary of my pets sorted by discending alphabetic order = ", dis_dict)

Enter a key: cat
Enter a value: 3
Enter a key: dog
Enter a value: 1
Enter a key: bird
Enter a value: 7
Enter a key: fish
Enter a value: 5
Dictionary of my pets =  {'cat': '3', 'dog': '1', 'bird': '7', 'fish': '5'}
Dictionary of my pets sorted by ascending alphabetic order =  {'bird': '7', 'cat': '3', 'dog': '1', 'fish': '5'}
Dictionary of my pets sorted by discending alphabetic order =  {'fish': '5', 'dog': '1', 'cat': '3', 'bird': '7'}

**9. Write a Python program to add key to a dictionary.**

In [ ]:
sample = {0:10, 1:20}
sample[2] = 30

print(sample)

{0: 10, 1: 20, 2: 30}

**10. Write a Pandas program to create and display a DataFrame from a specified dictionary data which has the index label.**

In [ ]:
import pandas as pd
import numpy as np     
#given dictionary of data with labels
exam_data = {'name': ['Arif', 'Asir', 'Arik', 'Anis', 'Anil', 'Ashish', 'Anahi', 'Alia', 'Alvin', 'Asim'],
             'score': [12.5, 9, 16.5, 14, 9, 20, 14.5, 18, 8, 19],
             'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
             'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

#Converting into DataFrame
df = pd.DataFrame(exam_data, index = labels)           

print(df)